<article class="article">
  <h1>Wstęp</h1>

  <section>
    <p>"Co jest napisane w Biblii?" - to pytanie może zadać chrześcijaninowi laik. Stronnik Chrystusa powinien na to pytanie umieć odpowiedzieć. Przyparty do muru apologeta zmuszony jest podjąć walkę z ignorancją i związanymi z nią nieporozumieniami. Argumenty ateistów-racjonalistów, nawałnica biblijnych teorii spiskowych czy przepychanki z domorosłymi biblistami mogą zgasić ducha walki. W dobie Internetu i wygodnej technologii mobilnej nie wymaga się raczej od nikogo znajomości obszernych tekstów napisanych w trudnym, archaicznym języku. Stąd książki, ebooki, bazy danych, aplikacje, materiały pomocnicze, itp.</p>

    <p>Niniejsze wydanie aspiruje na bycie takim właśnie materiałem pomocniczym. Będąc syntezą i kompilacją dwóch znamienitych pozycji dostępnych polskiemu czytelnikowi: "Nowego Testamentu greckiego i polskiego" Romana Bogacza i Romana Mazura SDB (Pallotinum) oraz "Grecko-polskiego Nowego Testamentu" Michała Wojciechowskiego i Remigiusza Popowskiego SDB (Vocatio), staje się solidnym narzędziem do analizy tekstu biblijnego. Przedstawia ono "literę" Pisma Świętego, z uwzględnieniem niuansów językowych, jak też i historii samego tekstu pisanego.</p>

    <p>Aparat krytyczny pochodzący z dzieła Nestle-Aland pozwala wskazać rękopisy stojące za tekstem oraz wynikające z wielu różnych czynników różnice w wariantach tekstowych. Aparat lingwistyczny w postaci kodów Stronga oraz kodów gramatycznych otwiera czytelnikowi, nieznającemu języka oryginału, możliwość czytania tekstu ze zrozumieniem subtelności tegoż języka. Dodatkowo, zestawienie z najbardziej rozpowszechnionym na świecie łacińskim tłumaczeniem (Wulgatą) pozwala czytelnikowi odnieść się do tradycji przekazu biblijnego.</p>

    <p>Nie jest to oczywiście dzieło wyczerpujące temat. Pomimo szerokiej prezentacji "litery" Pisma Świętego nie przekazuje ono jego "ducha" - tła historycznego, kontekstu kulturowego, aspektów ówczesnej religii, sytuacji politycznej regionu, relacji pomiędzy stanami/grupami społecznymi, wiedzy ówczesnych, ich filozofii/światopoglądu, itp. Nie porusza także zagadnień filozoficznych i teologicznych wynikających z chrześcijańskiej (późniejszej) analizy tekstów świętych. Nie podejmuje się także interpretacji "litery" Pisma… Czytelnik, któremu zależy na zrozumieniu treści zawartych w tekście Pisma, powinien zaopatrzyć się w inne materiały poruszające wyżej wspomniane zagadnienia.</p>

    <p>Mam nadzieję, że narzędzie to będzie dobrze służyło do walki z ignorancją i zachęci do zgłębiania Pisma Świętego.</p>

    <p>Paweł Placzyński</p>
  </section>
</article>
