<article class="last">
  <section>
    <p>τῷ ὄντι ἀντεβόλησα.</p>
    <p>ἐμοῖ ἔλέγον, ἑγὼ δὲ μόνον ἤκουον.</p>
    <p>ἐν τούτῳ οὔδεν μετέβαλεν, πολλά ἐν ἐμοῖ.</p>
    <p>ἂλλον ἦν ἢ ταύτα, ἃ οἶδα.</p>
    <p>μοι ἐφαίνετο ὡς ὅλον.</p>
    <p>τὴν ἀλήθειαν περὶ ἑαυτοῦ ἔλεγεν.</p>
    <p>ἐκήλησέ με.</p>
    <p>ἔμαθον τοῦτο εἶναι.</p>
    <p>ἐτρεψάμην ἐπὶ τοῦτο.</p>
    <p>διὰ τί εἶ; ἐκ θεοῦ ὑπάρχω.</p>
    <p>διὰ τί εἶ τοιοῦτο εἶ; διὰ τῆς ἐνεργείας καὶ τῆς δυνάμεως.</p>
    <p>φυλάξω τὸ ὂν οὐδὲ τὴν φιλιοσοφίαν.</p>
  </section>
  <object class="logo" data="./img/monogram.svg"></object>
</article>
</body>
</html>
