<p data-eusebeios="{{ eusebeios }}">
{{# words }}
{{> word }}
{{/ words }}
<div class="footnote latin" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ latin }}</div>
{{# comments }}
<div class="footnote criticism" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ cText }}</div>
{{/ comments }}
</p>
