<p>
{{# words }}
{{> word }}
{{/ words }}
<div class="latin" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ latin }}</div>
{{# comments }}
<div class="criticism" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ cText }}</div>
{{/ comments }}
</p>
