<p class="verse" data-eusebeios="{{ eusebeios }}">{{# words }}{{> word }}{{/ words }}<span class="footnote latin" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ latin }}</span>{{# comments }}<span class="footnote criticism" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ cText }}</span>{{/ comments }}<span class="footnote reference" data-chapter="{{ chapterNumber }}" data-verse="{{ verseNumber }}">{{ references }}</span></p>
