/* PAGES */
@page:left {
  @top-right {
    content: counter(page, upper-roman);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
}
@page:right {
  @top-left {
    content: counter(page, upper-roman);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
  @top-right {
    content: string(chapter-title);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--nigrica);
  }
}
*::footnote-marker {
  content: counter(footnote);
}
*::footnote-call {
  content: counter(footnote);
}

/* GENERIC */
article {
  counter-reset: footnote;
  font-family: cardo, f1, f2, f3;
  counter-reset: h2;
  font-size: 90%;
}
h2 {
  string-set: chapter-title content();
}
h2::before, h3::before, h4::before, h5::before, h6::before {
  font-family: iosevka;
  color: var(--didascalia);
  font-size: var(--middle-size);
}
h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
h2 { counter-reset: h3; }
h3::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
h3 { counter-reset: h4; }
h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
h4 { counter-reset: h5; }
h5::before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
h5 { counter-reset: h6; }
h6::before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}
p {
  margin: var(--small-size) 0;
  text-indent: 2em;
  display: block;
}
ul, ol {
  margin: 0;
  padding-left: 2em;
}
.note {
  color: var(--nigrica);
  counter-increment: footnote;
}
table {
  width: 100%;
  margin-bottom: 1em;
}
thead th, thead td {
  font-family: cardo;
  text-align: center;
  font-size: .8em;
  padding: 0 .2em;
}
td {
  text-align: center;
  border: 1px dotted black;
}
code {
  font-family: iosevka !important;
  display: block;
}
dt:before {
  content: "";
  display: block;
}
dt {
  font-family: iosevka;
}
dt, dd {
  display: inline;
}
