/* FONTS */
@font-face { font-family: greek;   src: url(../fonts/newathu.ttf); }
@font-face { font-family: iosevka; src: url(../fonts/iosevka.ttf); }
@font-face { font-family: f1;      src: url(../fonts/freeserif.ttf); }
@font-face { font-family: f2;      src: url(../fonts/freesans.ttf); }
@font-face { font-family: f3;      src: url(../fonts/mono.ttf); }

/* SETTINGS */
:root {
  --nigrica: #073642;
  --rubrica: #dc322f;
  --didascalia: #485e65;

  --normal-size: 1.05em;
  --small-size: .6em;
  --middle-size: .8em;
}

/* PAGES */
@page {
  size: B5 portrait;
  margin-left: 15mm;
  margin-right: 15mm;
  margin-top: 20mm;
  margin-bottom: 1em;
  counter-reset: footnote
  @footnotes {
    border-top: solid var(--nigrica) .5px;
    padding-top: 1em;
  }
}
@page:left {
  @top-right {
    content: counter(page);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
  @top-left {
    content: "J " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: var(--middle-size);
  }
}
@page:right {
  @top-right {
    content: "J " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: var(--middle-size);
  }
  @top-left {
    content: counter(page);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
}
@page:first {
  @top-left     { content: none; }
  @top-right    { content: none; }
  @bottom-left  { content: none; }
  @bottom-right { content: none; }
}
@page:blank {
  @top-left     { content: none; }
  @top-right    { content: none; }
  @bottom-left  { content: none; }
  @bottom-right { content: none; }
}

/* GENERIC */
body {
  font-size: var(--normal-size);
  text-align: justify;
}
a {
  text-decoration: none;
  color: var(--nigrica);
}
article {
  counter-reset: chapter;
  page-break-before: always;
}
section {
  display: inline;
  counter-increment: chapter;
  prince-footnote-policy: keep-with-block;
}
p {
  display: inline;
  color: var(--nigrica);
  margin: 0;
}
span {
  display: inline-block;
  word-break: keep-all;
  box-sizing: border-box;
  break-inside: avoid;
}
p span:first-of-type:before {
  content: attr(data-chapter) "." attr(data-verse);
  font-size: var(--small-size);
  white-space: pre;
  color: var(--didascalia);
  padding: 0;
  font-family: iosevka, f1, f2, f3;
  font-weight: bold;
  margin-right: .5em;
}
section p:first-of-type span:first-of-type:before {
  content: attr(data-chapter);
  color: var(--nigrica);
  font-size: var(--normal-size);
}
span[data-strong] {
  font-family: greek, f1, f2, f3;
  padding: .2em;
  text-align: center;
}
span[data-strong]:after {
  content: attr(data-translation) "\a" attr(data-strong) " " attr(data-morphology);
  white-space: pre;
  font-size: var(--small-size);
  color: var(--didascalia);
  font-family: iosevka, f1, f2, f3;
  display: block;
  text-align: center;
}
span[data-red=true] {
  color: var(--rubrica);
}
.criticism {
  font-size: var(--small-size);
  color: var(--didascalia);
  text-align: left;
  float: footnote;
  font-family: iosevka, f1, f2, f3;
  font-style: normal;
}
.latin {
  font-size: var(--small-size);
  color: var(--nigrica);
  font-weight: bold;
  text-align: left;
  float: footnote;
  font-family: iosevka, f1, f2, f3;
  font-style: normal;
}
.note {
  font-size: var(--small-size);
  color: var(--nigrica);
  font-weight: bold;
  text-align: left;
  float: footnote;
  font-family: iosevka, f1, f2, f3;
  counter-increment: footnote;
  font-style: normal;
}
*::footnote-marker {
  content: attr(data-chapter) "." attr(data-verse) " ";
  margin-right: 1em;
}
.note::footnote-marker {
  content: counter(footnote);
  line-height: none
  color: var(--nigrica);
  vertical-align: super;
}
*::footnote-call {
  content: none;
  margin: 0;
  padding: 0;
  line-height: none;
}
.note::footnote-call {
  content: "[" counter(footnote) "]";
  font-size: 83%;
  vertical-align: super;
  line-height: none
}
