/* FONTS */
@font-face { font-family: greek;   src: url(../fonts/newathu.ttf); }
@font-face { font-family: iosevka; src: url(../fonts/iosevka.ttf); }
@font-face { font-family: f1;      src: url(../fonts/freeserif.ttf); }
@font-face { font-family: f2;      src: url(../fonts/freesans.ttf); }
@font-face { font-family: f3;      src: url(../fonts/mono.ttf); }

/* COLORS */
:root {
  --nigrica: #282828;
  --rubrica: #9d0006;
  --didascalia: #504945;
}

/* PAGES */
@page {
  size: B5 portrait;
  @footnote {
    border-top: solid var(--nigrica) thin;
    padding-top: 1em;
  }
}
@page:left {
  @top-right {
    content: counter(page);
    font-family: iosevka;
    font-size: .8em;
    color: var(--didascalia);
  }
  @top-left {
    content: "J " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: .8em;
  }
}
@page:right {
  @top-right {
    content: "J " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: .8em;
  }
  @top-left {
    content: counter(page);
    font-family: iosevka;
    font-size: .8em;
    color: var(--didascalia);
  }
}
@page:first {
  @top-left     { content: none; }
  @top-right    { content: none; }
  @bottom-left  { content: none; }
  @bottom-right { content: none; }
}
@page:blank {
  @top-left     { content: none; }
  @top-right    { content: none; }
  @bottom-left  { content: none; }
  @bottom-right { content: none; }
}

/* GENERIC */
body {
  font-size: 1.1em;
  text-align: justify;
}
a {
  text-decoration: none;
  color: var(--nigrica);
}
article {
  counter-reset: chapter;
  page-break-before: always;
}
section {
  display: inline;
  counter-increment: chapter;
}
p {
  display: inline;
  align-content: space-between;
  color: var(--nigrica);
  margin: 0;
  padding: 1em 0;
  prince-footnote-policy: keep-with-block;
}
p:before {
  content: attr(data-chapter) "." attr(data-verse);
  font-size: .5em;
  white-space: pre;
  color: var(--didascalia);
  padding: 0;
  font-family: iosevka, f1, f2, f3;
  font-weight: bold;
}
section p:first-of-type:before {
  content: attr(data-chapter);
  font-size: 1em;
}
span[data-strong] {
  font-family: greek, f1, f2, f3;
  padding: .2em;
  text-align: center;
  break-inside: avoid;
  display: inline-block;
}
span[data-strong]:after {
  content: attr(data-translation) "\a" attr(data-strong) " " attr(data-morphology);
  white-space: pre;
  font-size: .5em;
  color: var(--didascalia);
  font-family: iosevka, f1, f2, f3;
  display: block;
  text-align: center;
}
span[data-red=true] {
  color: var(--rubrica);
}
.criticism {
  font-size: .5em;
  color: var(--nigrica);
  text-align: left;
  float: footnote;
  font-family: iosevka, f1, f2, f3;
}
*::footnote-marker {
  content: attr(data-chapter) "." attr(data-verse) " ";
  margin-right: 1em;
}
*::footnote-call {
  content: none;
  margin: 0;
  padding: 0;
}
