/* GENERIC */
@font-face { font-family: cardo;   src: url(../fonts/cardo.ttf); }
@font-face { font-family: greek;   src: url(../fonts/newathu.ttf); }
@font-face { font-family: iosevka; src: url(../fonts/iosevka.ttf); }
@font-face { font-family: f1;      src: url(../fonts/freeserif.ttf); }
@font-face { font-family: f2;      src: url(../fonts/freesans.ttf); }
@font-face { font-family: f3;      src: url(../fonts/mono.ttf); }

:root {
  --nigrica: #073642;
  --rubrica: #dc322f;
  --didascalia: #485e65;

  --normal-size: 1em;
  --small-size: .6em;
  --medium-size: .8em;
}
@page {
  size: 165mm 235mm portrait;
  margin: 10mm 7mm 5mm 7mm;
  padding: 5mm;
  @footnotes {
    border-top: solid var(--nigrica) .5px;
    padding: 3mm 0 0 0;
    margin: 0;
  }
  @top-left {
    font-family: iosevka;
    font-size: var(--medium-size);
    color: var(--didascalia);
    margin-top: 5mm;
  }
  @top-right {
    font-family: iosevka;
    font-size: var(--medium-size);
    color: var(--didascalia);
    margin-top: 5mm;
  }
}
@page:first {
  @top-left  { display: none; }
  @top-right { display: none; }
}
*::footnote-call {
  content: none;
  line-height: none;
  display: inline !important;
}
*::footnote-marker {
  margin-right: var(--small-size);
  font-family: iosevka;
  font-size: var(--small-size);
}

body {
  font-size: var(--normal-size);
  color: var(--nigrica);
  font-family: cardo, serif;
}
a {
  text-decoration: none;
  color: var(--nigrica);
}
article {
  break-before: recto;
  break-after: verso;
  counter-reset: h2;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
h2::before, h3::before, h4::before, h5::before, h6::before {
  font-family: iosevka;
  color: var(--didascalia);
  font-size: var(--medium-size);
}
h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
h2 { counter-reset: h3; }
h3::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
h3 { counter-reset: h4; }
h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
h4 { counter-reset: h5; }
h5::before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
h5 { counter-reset: h6; }
h6::before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}
ul, ol {
  margin: 0;
  padding-left: 2em;
}
table {
  width: 100%;
  margin-bottom: 1em;
  font-size: 80%;
}
thead th, thead td {
  text-align: center;
  font-size: .8em;
  padding: 0 .2em;
}
td {
  text-align: center;
  border: 1px dotted black;
}
code {
  font-family: iosevka !important;
  display: block;
}

/* TITLE */
.title header {
  font-size: 4em;
  text-align: center;
  font-family: greek;
  font-weight: bold;
  margin-top: 5cm;
  break-after: page;
}

.logo {
  width: 100%;
  height: 20%;
  -prince-float-placement: bottom;
  -prince-float-reference: page;
}
.title dl {
  counter-reset: page 0;
}

/* ARTICLES */
@page article:left {
  @top-left { content: counter(page, upper-roman); }
}
@page article:right {
  @top-left { content: string(chapter-title); }
  @top-right{ content: counter(page, upper-roman); }
}
@page article:blank {
  @top-left  { display: none; }
  @top-right { display: none; }
}
.article {
  page: article;
  font-size: calc(var(--normal-size) - 1pt);
}
.article p {
  margin: var(--small-size) 0;
  text-indent: 1em;
  text-align: justify;
}
.article dl.dict dt:before {
  content: "";
  display: block;
}
.article dl.dict dt {
  font-family: iosevka;
}
.article dl.dict dt, .article dl.dict dd {
  display: inline;
}
.article h1 {
  string-set: chapter-title content();
}

/* EXAMPLE */
.example {
  border: .5px solid var(--nigrica);
  font-size: 80%;
  padding: 2em;
  box-shadow: 3px 3px 3px var(--didascalia);
  position: relative;
}
.example * {
  z-index: -1 !important;
}
.example .page {
  text-align: justify;
}
.example .notes {
  border-top: solid var(--nigrica) .5px;
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}
.example .page .verse:first-of-type .word:first-of-type:before {
  content: attr(data-chapter);
  color: var(--nigrica);
  font-size: var(--normal-size);
}
.example .page .verse[data-eusebeios]:before {
  content: attr(data-eusebeios);
  font-size: var(--small-size);
  color: var(--nigrica);
  font-family: greek, f1, f2, f3;
  float: left;
  padding-top: var(--small-size);
  margin-left: -2.5em;
}
.example .page .verse[data-eusebeios="0"]:before {
  content: none;
}
.example .notes .footnote {
  font-size: var(--medium-size);
  text-align: left;
  font-style: normal;
  display: block;
}
.example .notes .footnote:before {
  content: attr(data-chapter) "." attr(data-verse);
  font-size: var(--medium-size);
  text-align: right;
  font-family: iosevka;
  float: left;
  margin-left: -2.5em;
}
.example .mark {
  font-family: iosevka;
  font-size: 1em;
  font-weight: bold;
  color: var(--rubrica);
  width: 1.4em;
  height: 1.4em;
  border: .5px solid var(--rubrica);
  border-radius: .7em;
  display: inline-block;
  text-align: center;
  z-index: 999 !important;
  position: absolute;
  background: white;
}
.example .mark:after {
  content: " |";
  background: white;
  font-weight: normal;
}

/* BOOK */
@page book {
  margin-bottom: 1em;
}
@page book:left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: string(book-title) " " counter(chapter);
  }
}
@page book:right {
  @top-left {
    content: string(book-title) " " counter(chapter);
  }
  @top-right {
    content: counter(page);
  }
}
.reference {
  color: var(--didascalia);
  font-family: iosevka;
  font-size: var(--small-size) !important;
}
.criticism {
  color: var(--didascalia);
}
.latin {
  color: var(--nigrica);
  font-weight: bold;
}
.book {
  counter-reset: chapter;
  string-set: book-title attr(data-book);
  text-align: justify;
  page: book;
  counter-reset: page 1;
}
.book .footnote {
  font-size: var(--medium-size);
  text-align: left;
  float: footnote;
  font-style: normal;
  display: inline-block;
}
.book .chapter:first-of-type .verse:first-of-type .word:first-of-type:before {
  display: none;
}
.book .chapter:first-of-type .verse:first-of-type .word:first-of-type::first-letter {
  font-size: 2.2em;
}
.chapter {
  display: inline;
  counter-increment: chapter;
}
.verse {
  display: inline;
}
.word {
  display: inline-block;
  word-break: keep-all;
  box-sizing: border-box;
  break-inside: avoid;
}
.book .verse[data-eusebeios]:before {
  content: attr(data-eusebeios);
  padding-top: var(--small-size);
  font-size: var(--small-size);
  color: var(--nigrica);
  font-family: greek, f1, f2, f3;
  -prince-float: outside;
  -prince-margin-outside: -2.5em;
}
.book .verse[data-eusebeios="0"]:before {
  content: none;
}
.verse .word:first-of-type:before {
  content: attr(data-chapter) "." attr(data-verse);
  font-size: var(--small-size);
  white-space: pre;
  color: var(--didascalia);
  padding: 0;
  font-family: iosevka;
  font-weight: bold;
  margin-right: .5em;
}
.chapter .verse:first-of-type .word:first-of-type:before {
  content: attr(data-chapter);
  color: var(--nigrica);
  font-size: var(--normal-size);
}
.word[data-strong] {
  font-family: greek, f1, f2, f3;
  padding: .2em 0;
  text-align: center;
}
.word[data-strong]:after {
  content: attr(data-translation) "\a" attr(data-strong) "\a" attr(data-morphology);
  white-space: pre;
  font-size: var(--small-size);
  color: var(--nigrica);
  font-family: iosevka;
  display: block;
  text-align: center;
}
.word[data-strong]:after::first-line {
  font-family: cardo;
  font-size: 130%;
  color: var(--didascalia);
}
.word[data-red=true] {
  color: var(--rubrica);
}
.latin::footnote-marker {
  content: attr(data-chapter) "." attr(data-verse);
}
.criticism::footnote-marker, .reference::footnote-marker {
  content: "";
}

/* LAST */
.last section {
  margin-top: 55mm;
  text-align: center;
  color: var(--didascalia);
  font-family: greek, f1, f2, f3;
  line-height: 1.4em;
}
