/* PAGES */
@page:left {
  @top-left {
    content: counter(page);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
  @top-right {
    content: string(volume-title) " " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: var(--middle-size);
  }
}
@page:right {
  @top-left {
    content: string(volume-title) " " counter(chapter);
    color: var(--didascalia);
    font-family: iosevka;
    font-size: var(--middle-size);
  }
  @top-right {
    content: counter(page);
    font-family: iosevka;
    font-size: var(--middle-size);
    color: var(--didascalia);
  }
}
*::footnote-marker {
  content: attr(data-chapter) "." attr(data-verse);
}
*::footnote-call {
  content: none;
}

/* GENERIC */
article {
  string-set: volume-title attr(data-volume);
  counter-reset: chapter;
  text-align: justify;
}
section {
  display: inline;
  counter-increment: chapter;
}
p {
  display: inline;
}
p span:first-of-type:before {
  content: attr(data-chapter) "." attr(data-verse);
  font-size: var(--small-size);
  white-space: pre;
  color: var(--didascalia);
  padding: 0;
  font-family: iosevka;
  font-weight: bold;
  margin-right: .5em;
}
section p:first-of-type span:first-of-type:before {
  content: attr(data-chapter);
  color: var(--nigrica);
  font-size: var(--normal-size);
}
span[data-strong] {
  font-family: greek, f1, f2, f3;
  padding: .2em;
  text-align: center;
}
span[data-strong]:after {
  content: attr(data-translation) "\a" attr(data-strong) "\a" attr(data-morphology);
  white-space: pre;
  font-size: var(--small-size);
  color: var(--didascalia);
  font-family: iosevka;
  display: block;
  text-align: center;
}
span[data-red=true] {
  color: var(--rubrica);
}

/* ELEMENTS */
.criticism {
  color: var(--didascalia);
}
.latin {
  color: var(--nigrica);
  font-weight: bold;
}
.note {
  color: var(--nigrica);
  font-weight: bold;
  counter-increment: footnote;
}
